 		body,a,ul,li{
			list-style: none;
			margin: 0;
			padding: 0;
		 	border: 0;
			text-decoration: none;
			padding: 0 20px;
			font-size: 16px;
		}
		body {
			font-family: '微软雅黑';
			
			font-size: 14px;
			font-style: #2F4F4F;
			background: url(../img/body.jpg);
		}
		.bg {
			width: 1100px;
			margin: 10px auto;
			padding: 10px;
			box-shadow: 5px 5px 10px 2px #999;
			background-color: #f2f2f2;
		}
		h1{
			height: 30px;
			line-height: 30px;
			text-align: center;
			margin: 30px auto;
			border-radius: 65px/90px;
			opacity: 0.8;
		}			
		nav {
			width:900px;
			height: 35px;
			line-height: 35px;
			background: #46b3df;
			border-radius: 90px/90px;
			margin: 50px auto;
			padding: 5px 0;
			opacity: 0.8;
		}

		nav li {
			text-align: center;
			float: left;
			padding: 0 10px;
			font-size: 16px;
		}

		nav a {
			text-decoration: none;
			color: white;
		}
		nav a:hover {

			padding: 10px 20px;
			background: #68e1f7;
			border-radius: 80px/80px;
		}
		
		footer {
			font-size: 12px;
			text-align: center;
			margin-top: 20px;
		}
		.content{
			width: 820px;
			margin: 30px auto;
			border: 1px solid gainsboro;
			padding: 20px;
						
		}
		
		.picture{
			width: 820px;
			margin: 30px auto;
			border: 1px solid gainsboro;
			padding:20px 10px 10px 20px;
						
		}

		.picture img{
			width: 260px;
			height: 260px;
			background-repeat: no-repeat;
			margin: 0 10px 10px 0 ;
		}